---
layout: default-galary
description: "Welcome to my blog!"
---

<!-- see _post file -->
<section>
    <div class="galary-container col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="galary-first-row">
            <div class="col-gala-xs-12 col-gala-sm-12 col-gala-md-6">
                <div class="post-preview  post-first-preview">
                    {% assign first_select_post = site.posts | where: 'tags', '精选' | first %}
                    <a href="{{ first_select_post.url | prepend: site.baseurl }}">
                        <img class="post-img post-first-img" src="{{first_select_post.header-img | prepend: site.baseurl}}" style="background-image:url('{{first_select_post.header-img | prepend: site.baseurl}}')"/>
                        <h2 class="post-title first-post-title">
                            {{ first_select_post.title }}
                        </h2>
                        {% if first_select_post.subtitle %}
                        <h3 class="post-subtitle first-post-subtitle">
                            {{ first_select_post.subtitle }}
                        </h3>
                        {% endif %}
                        <div class="post-content-preview first-post-content-preview">
                            {{ first_select_post.content | strip_html | truncate:200 }}
                        </div>
                        <p class="post-meta">
                            Posted by {% if post.author %}{{ first_select_post.author }}{% else %}{{ site.title }}{% endif %} on {{ first_select_post.date | date: "%B %-d, %Y" }}
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-gala-xs-12 col-gala-sm-12 col-gala-md-3">
                <div class="post-preview post-self-preview">
                    {% assign first_select_post = site.posts | where: 'tags', '精选' | first %}
                    <a href="{{ first_select_post.url | prepend: site.baseurl }}">
                        <img class="post-img" src="{{first_select_post.header-img | prepend: site.baseurl}}"/>
                        <h2 class="post-title">
                            {{ first_select_post.title }}
                        </h2>

                        {% if first_select_post.subtitle %}
                        <h3 class="post-subtitle">
                            {{ first_select_post.subtitle }}
                        </h3>
                        {% endif %}
                        <div class="post-content-preview">
                            {{ first_select_post.content | strip_html | truncate:200 }}
                        </div>
                        <p class="post-meta">
                            Posted by {% if post.author %}{{ first_select_post.author }}{% else %}{{ site.title }}{% endif %} on {{ first_select_post.date | date: "%B %-d, %Y" }}
                        </p>
                    </a>

                </div>
            </div>
        </div>
        
        <div class="galary-rest-row">
            {% for post in site.posts %}
            <div class="col-gala-xs-12 col-gala-sm-6 col-gala-md-3">
                <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img class="post-img" src="{{post.header-img | prepend: site.baseurl}}"/>
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>

                        {% if post.subtitle %}
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                        {% endif %}
                        <div class="post-content-preview">
                            {{ post.content | strip_html | truncate:200 }}
                        </div>
                        <p class="post-meta">
                            Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
                        </p>
                    </a>

                </div>
            </div>
    {% endfor %}
    
        </div>

    
    </div>
</section>



