<!-- Navigation -->
<div class="container">
	<div class="row">
        <nav class="navbar navbar-float navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-float-brand" href="{{ site.baseurl }}/">
                        <svg width="50px" height="50px" viewBox="0 0 135 135" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g class="navbar-brand-logo" stroke-width="18">
                                    <g transform="translate(-0.000000, 0.000000)">
                                        <g>
                                            <rect x="9" y="9" width="117" height="41.2757068"></rect>
                                            <rect x="9" y="84.7242932" width="117" height="41.2757068"></rect>
                                        </g>
                                        <line x1="53" y1="53" x2="81.8876861" y2="82.6176286"></line>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <div>
                            <div class="navbar-name">{{ site.title }}</div>
                            <div class="navbar-blog">Blog</div>
                        </div>
                    </a>
                </div>
        

                <div id="huxblog_navbar">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right navbar-float-right-bar">
                            <li>
                                <a class="navbar-float-right-brand" navbar-float-brand href="{{ site.baseurl }}/">精选文章</a>
                            </li>
                            <!-- Traverse pages with html suffix in the root directory -->
                            {% for page in site.pages %}
                            {% if page.title and page.ext != '.md'%}
                            <li>
                                <a class="navbar-float-right-brand" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>

    </div>
</div>

<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    $toggle.addEventListener('click', handleMagic)
    function handleMagic(e){
        if ($navbar.className.indexOf('in') > 0) {
        // CLOSE
            $navbar.className = " ";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        }else{
        // OPEN
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }
</script>
